# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
/.vscode
/.idea
/.vs

# Compiled Python bytecode
*.pyc
*.pyo
__pycache__

# Temporary files
*.swp
*.~
*~

# Static files
/staticfiles/

# media files
/media/

# Database files
*.sqlite3

# macOS directory attributes
.DS_Store
