body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    width: calc(100% + 40px);
    box-sizing: border-box;
    margin-bottom: 20px;
}

a {
    flex-wrap: wrap;
}

.back-to-catalog{
    margin-top: 10px;
}
.back-to-catalog a{
    text-decoration: none;
    color: #1e282d !important;
}
.filtered-books h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #4f6b79 !important;
}
.filtered-books h4{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #3a4f59 !important;
}
.filtered-books a{
    text-decoration: none;
}
.card {
    background-color: white !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.card h5 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
    color: #4f6b79 !important;
    border-radius: 5px 5px 0 0;
}

.card h4{
    font-size: 26px;
    margin-bottom: 15px;
    text-align: left;
    color: #4f6b79 !important;
    border-radius: 5px 5px 0 0;
}
.card strong{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
    color: #495867 !important;
    border-radius: 5px 5px 0 0;
}
.card a{
    text-decoration: none;
    color: #5A7684 !important;
}
.card a:hover{
    color: #3a4f59 !important;
}

#detailed_book img.fill-left {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}


.home-button {
    margin-top: 20px;
    text-align: center;
}

.pagination {
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #4f6b79;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #495867;
    color: whitesmoke;
}

li.pagination .current {
    font-weight: bold;
    background-color: #4f6b79 !important;
}
.footer{
    text-align: center;
    width: 100%;
    margin-top: auto;
}
.bg-custom {
    background-color: #4f6b79;
}

.carousel img {
    margin-top: 10px;
}

.book_details p {
    color: #4f6b79 !important;
    text-decoration: none;
}

.wishlist-btn i {
    transition: color 0.3s;
}

.wishlist-btn i.bi-heart-fill {
    color: #c40606;
}
.wishlist-btn-active {
    /* Add any specific styles for the active state */
    color: #c40606; /* or whatever color you want for the active state */
}
.wishlist h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4f6b79 !important;
}

.custom-btn-outline-danger {
    color: rgba(206, 15, 15, 0.92) !important;
    border-color: #c40606 !important;
}

.custom-btn-outline-danger:hover {
    background-color: rgba(206, 15, 15, 0.92) !important;
    color: white !important;
}

.cart-btn-active {
    color: #198754; /* or any color you prefer */
}

.cart-btn:hover {
    color: #198754;
}