{% extends 'base.html' %}
{% block title %}
    Details for {{ book.title }}
{% endblock %}

{% block body %}
    <div class="book-details">
        <div class="card m-2" style="max-width: 100%;" id="detailed_book">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/media/{{ book.cover }}" class="img-fluid rounded-start fill-left" alt="{{ book.title }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ book.title }}</h4>
                        <p><strong>{{ book.author }}</strong></p>
                        <hr>
                        <p class="card-text">{{ book.description }}</p>
                        <p><strong>Best Seller:</strong> {% if book.best_seller %} Yes {% else %} No {% endif %}</p>
                        <p><strong>Age Group:</strong> {{ book.age_group }}</p>
                        <p><strong>Categories:</strong>
                            {% for category in book.categories.all %}
                                <a href="{% url 'filtered_books' %}?category_id={{ category.id }}">{{ category.category_name }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% empty %}
                                No categories
                            {% endfor %}
                        </p>
                        <p><strong>Price:</strong> ₾ {{ book.price }}</p>
                        <p><strong>Stock:</strong> {{ book.stock }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to Catalog button -->
    <div class="btn btn-outline-secondary back-to-catalog">
        <a href="{% url 'get_books' %}">Back to Catalog</a>
    </div>
{% endblock %}
