{% extends 'base.html' %}
{% block title %}
    Book Catalog
{% endblock %}
{% block body %}
        <div class="row">
        <div class="col-md">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://bookshop.ge/content/uploads/slider/slider_65cf621d4f7bc.jpg"
                             class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://bookshop.ge/content/uploads/slider/slider_676285be79d54.jpg"
                             class="d-block w-100"
                             alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://bookshop.ge/content/uploads/slider/slider_65cf61f93271c.jpg"
                             class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
    <div class="row">
        {% for book in books %}
            <div class="col m-2 d-flex align-items-stretch justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/media/{{ book.cover }}" class="card-img-top" alt="{{ book.title }}">
                    <div class="card-body">
                        <h5><a href="/book_detail/{{ book.id }}/" class="card-title">{{ book.title }}</a></h5>
                        <a href="{% url 'filtered_authors' %}?author_id={{ book.author.id }}"><h6
                                class="card-subtitle mb-2 text-body-secondary">{{ book.author }}</h6></a>
                        <p class="card-text"></p>
                        <p><strong>Price:</strong> ₾ {{ book.price }}</p>

                        <p><strong>Categories:</strong>
                            {% for category in book.categories.all %}
                                <a href="{% url 'filtered_books' %}?category_id={{ category.id }}">{{ category.category_name }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% empty %}
                                No categories
                            {% endfor %}
                        </p>
                        <p><strong>Best Seller:</strong> {% if book.best_seller %} Yes {% else %} No {% endif %}</p>
                    </div>
                    <a href="/book_detail/{{ book.id }}/" class="btn btn-outline-secondary">View Book</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
    <!-- Pagination links -->
    <div class="row">
        <div aria-label="Page navigation">
            <div class="col align-items-center">
                <ul class="pagination justify-content-center">
                    <!-- Previous Page -->
                    {% if books.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ books.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                    {% endif %}

                    <!-- Page Numbers -->
                    {% for page_num in books.paginator.page_range %}
                        {% if page_num == books.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">{{ page_num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Next Page -->
                    {% if books.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ books.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div class="d-flex justify-content-center text-secondary">
                {{ books.paginator.count }} books in total
            </div>
        </div>
    </div>
{% endblock %}
