{% extends 'base.html' %}
{% block title %}Create User{% endblock %}
{% block body %}
    <div class="row shadow p-3 m-3 ms-5 bg-body-tertiary rounded" id="register-user" style="width: calc(100% + 10px);">
        <h2 class="mb-4 text-center">Create User</h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="row mb-3 align-content-center">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    <div class="invalid-feedback">
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Create User</button>
        </form>
    </div>
{% endblock %}
