{% extends 'base.html' %}
{% block title %}
    Filtered Books by Author
{% endblock %}

{% block body %}
    <div class="filtered-books shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 100%;">
        <div class="row">
            <div class="col-md">
                <h2>Books by Author: {{ selected_author.first_name }} {{ selected_author.last_name }}</h2>
                <div class="row justify-content-evenly">
                    {% for book in books %}
                        <div class="col-md-4">
                            <a href="/book_detail/{{ book.id }}/"><h4>{{ book.title }}</h4></a>
                            <img src="/media/{{ book.cover }}" alt="{{ book.title }}" width="200">
                        </div>
                    {% endfor %}
                </div>
            
            </div>
        </div>
        <!-- Back to Catalog button -->
        <div class="btn btn-outline-secondary back-to-catalog">
            <a href="{% url 'get_books' %}">Back to Catalog</a>
        </div>
    </div>
{% endblock %}
