{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block style %}
    body {
    font-family: Arial, sans-serif;
    color: #49243E;
    background-color: #DBAFA0;
    padding: 20px;
    }
    .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #BB8493;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
    h1 {
    text-align: center;
    color: #704264;
    }
    p {
    text-align: center;
    margin-top: 20px;
    }
    .cta-button {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #704264;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    }
    .cta-button:hover {
    background-color: #DBAFA0;
    }
    .main-image {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    }
{% endblock %}
{% include 'navbar.html' %}
{% block body %}
    <div class="container">
        <img src="/media/main_image.jpg" alt="Main Image" class="main-image">
        <h1>Welcome to the Book Catalog!</h1>
        <p>Explore our collection of amazing books.</p>
        <a href="/books/" class="cta-button">Browse Books</a>
        <p>Gvantsie</p>
    </div>
{% endblock %}

