<nav class="navbar navbar-expand-lg bg-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/media/main_image.jpg" alt="Logo" width="56" height="46"
                 class="d-inline-block align-text-center">
            Book Store
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin Page</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Filter books
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Bestsellers</a></li>
                        <li><a class="dropdown-item" href="#">Poems</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/logout/">Log out</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="btn-group">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Account
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/login/">Log in</a></li>
                    <li><a class="dropdown-item" href="/register/">Register</a></li>
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</nav>
